body {
    background-color: lightblue;
}

.articles-container {
    width: 95%;
    border: 2px solid black;
    margin-left: 2.5%;
}

.card-title {
    font-size: 28px;
}

.nav-title {
    font-size: 30px;
}

.title-row {
    width: 95%;
    border: 2px solid black;
    margin-left: 2.5%;
    height: 15%;
    font-size: 48px;
    background-color: rgb(241, 221, 195);
}